<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="<%= (activeUsers)?'active':'' %>" href="/users">Users</a></li>
                <li class="main-header__item"><a class="<%= (activeAddName)?'active':'' %>" href="/">Add Name</a></li>
            </ul>
        </nav>
    </header>