<%- include('includes/head.ejs') %>
</head>

<%- include('includes/navigation.ejs') %>

    <main>
        <h1>Users</h1>

        <% if ( names.length > 0 ) { %>
            <% for(let name of names ){ %>
                <ul >
                    <li ><%= name.name %></li>
                    
                </ul>
            <% } %>  
        <% } else { %>
        <h1>No Users Found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>